/* Dasar */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Arial', sans-serif; }

/* Header */
.site-header {
    background-color: #0b132b; color: white;
    padding: 15px 50px; display: flex;
    justify-content: space-between; align-items: center;
}
.header-left { display: flex; align-items: center; gap: 10px; }
.logo-icon { height: 35px; }
.header-right { display: flex; gap: 20px; align-items: center; }
.header-right a { color: white; text-decoration: none; font-size: 0.85rem; font-weight: bold; }
.nav-icon-group { display: flex; align-items: center; gap: 5px; }
.nav-icon-group img { height: 20px; }

/* Main Layout */
.main-container { padding: 20px 50px; color: #1a233a; }
.page-title { font-size: 2.2rem; font-weight: bold; }
.header-line { border: 0; border-top: 4px solid #0b132b; margin: 10px 0 30px 0; }

/* Detail Booking */
.booking-details { padding-left: 50px; }
.row-display { display: flex; align-items: center; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px; }
.connector-line { flex: 0 0 60px; height: 4px; background-color: #1a233a; margin: 0 15px; }
.train-info { font-weight: bold; font-size: 1.2rem; margin-bottom: 15px; }
.time-row { margin-bottom: 25px; }

/* Form & Info Line */
.info-line { display: flex; align-items: center; font-weight: bold; font-size: 1.2rem; margin-bottom: 15px; }
.info-line label { width: 180px; }
.info-line .colon { width: 30px; }

/* Input field lonjong */
input[type="number"] {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 5px 15px;
    width: 250px;
    outline: none;
}
/* Error Message Style */
.error-container {
    margin-left: 50px; /* Sejajar dengan kotak input */
    margin-bottom: 5px;
    margin-top: 10px;
}

.error-text {
    color: #d90429;
    font-weight: bold;
    font-size: 0.9rem;
    background: rgba(217, 4, 41, 0.1);
    padding: 8px;
    border-radius: 8px;
    border-left: 4px solid #d90429;
}

/* Tombol Pill Abu-abu */
.btn-container { display: flex; justify-content: center; margin-top: 20px; }
.btn-pill {
    background-color: #c4c4c4;
    color: #000;
    border: 2px solid #000;
    padding: 10px 60px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}
.btn-pill:hover { background-color: #a8a8a8; }

/* Section Total */
.total-section { padding-left: 50px; margin-top: 20px; }
.total-value { font-size: 1.2rem; }

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-top: 2px solid #0b132b;
    margin-top: 20px;
}

footer h3 {
    font-size: 1rem;
    color: #0b132b;
    font-weight: bold;
}

footer img {
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}