<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BKA ACCESS Login</title>
        <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
    
     <header class="site-header">
        <div >
            <img th:src="@{/aset/bka.png}" alt="Logo BKA" class="logo-icon">
        </div>
        <a th:href="@{/}">ACCESS</a>
    </header>
    <div class="main-wrapper">
        
        <div class="login-card">
            <form th:action="@{/login}" th:object="${user}" method="post">
                
                <div class="input-group">
                    <label for="email">EMAIL</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        th:field="*{email}"
                        placeholder="Masukkan Email"
                        required
                    />
                </div>

                <div class="input-group">
                    <label for="password">PASSWORD</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        th:field="*{password}"
                        placeholder="Masukkan Password"
                        required
                    />
                </div>

                <p th:if="${error}" th:text="${error}" class="error-msg"></p>

                <div class="action-group">
                    <button type="submit" class="btn-login">LOGIN</button>
                </div>

                <div class="register-link">
                    <a th:href="@{/registrasi}">REGISTRASI</a>
                </div>
            </form>
        </div>

        <div class="image-card">
            <img th:src="@{/aset/kreta.png}" alt="Kereta">
        </div>

    </div>
   <footer>
        <h3>CONTACT US</h3>
        <img th:src="@{/aset/github.png}" alt="github">
        <img th:src="@{/aset/ig.png}" alt="ig">
        <img th:src="@{/aset/wa.png}" alt="wa">
    </footer>
</body>
</html>